/* document style */
	* {
		margin:0px;
		padding:0px;
		font-family:Arial;
	}
	
	p {
		line-height:1.4;
		text-align:justify;
		font-size:12px;
	}
	h1, h2, h3, h4 {
		padding-top:6px;
		padding-bottom:6px;
	}

	#page {
		width:984px;
		margin-left:auto;
		margin-right:auto;
		background:#e6e6e6;
	}

	#header {
	}
	
	#header h1 {
		font-weight:normal;
		font-size:72px;
		background-color:#333399;
		color:#fff;
		height:84px;
	}
	#header p {
		padding:0px 12px 0px 12px;
		font-family:sans-serif;
		font-weight:bold;
		font-size:14px;
		background-color:#111133;
		color:#fff;
	}
	#topnav {
		padding:1px 12px 2px 12px;
		width: 960px;
		height:18px;
		background-color:#111133;
		border-top:2px solid #333399;
		border-bottom: 6px solid #333399;
	}
	#topnav ul {
		list-style-position:inside;
		list-style-type:none;
	}
	#topnav li {
		padding-right:12px;
		font-size:12px;
		float:left;
	}
	#topnav li a {
		color:#fff;
		font-weight:bold;
		text-decoration:underline;
	}
	#menu {
		width: 186px;
		float: left;
		border-right:6px solid #333399;
		min-height:600px;
	}
	#menu ul {
		padding:12px;
		list-style-position:inside;
		list-style-type:none;
	}
	#menu li {
		line-height:1.4;
		font-size:12px;
	}
	#menu li a {
		color:#282828;
		font-weight:bold;
		text-decoration:underline;
	}
	#content {
		padding:12px;
		width:480px;
		float: left;
	}
	#related {
		padding:12px;
		width:264px;
		float: right;
	}
	#related .box {
		
	}
	#related .small.box {
		width:120px;
		float:left;
		padding-right:12px;
	}
	#footer {
		clear:both;
		width:984px;
	}
	#footer p {
		padding:6px;
		background-color:#333399;
		padding-left:8px;
		font-size:10px;
		color:#fff;
	}
